.container{
    height: 35vw;
    width:25%;
    width: 50%;
    height: 65vw;
    background-color: #ecececcc;
    object-fit: contain;
    box-sizing: border-box;
    position: relative;
    border:0.25px solid #000000cc;
    overflow: hidden;;
}

.price{
    font-style: italic;
}
.mainBlock{
    
 
    width: 80%;
    display: flex;
}

.block{
   align-items: end;
    top: 0px;
    right: 0px;
    position:absolute;
 
    width: 20%;
    height: 100%;
    display: flex;

}

.textBlock{

text-align:left;
font-size: 1.3vw;
position:absolute; 
bottom:20px;
left:5%; 
width: 90%;

}
.price{

    position:absolute; 
   color:black;
   right: 0;
 
}
*{
    margin:0;
}
.imageUrl{
    height: auto;
    overflow: hidden;;
    display: flex;
    position: relative;
    width: 100%;
}
@media (min-width:1300px){
    .container{
        width: 25%;
        height: 37vw;
    }


}

@media (max-width:1300px){

    .container{
        height: 75vw;
        
    
    }
    .textBlock{
        font-size: 2.4vw;
    }

}


