.scrollToTopButton {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: whitesmoke;
	border: 0.5px solid black;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
	opacity: 0.7;
	transition:
		opacity 0.6s,
		transform 1s;
	z-index: 13;
}
.scrollToTopButton:hover {
	opacity: 1;
	text-decoration: line-through;
}
