*{
    margin:0;
    padding: 0;

}

.BottomHeader{
    font-size: 2fw;
    width: 100%;
    height: 5vw;
    display: flex;
    flex-wrap:wrap;

}

.ulBottom{
    list-style: none;
}


.ul{
    
    list-style: none;
}
.blocktitleBottomContent{

    margin-left:5%;
    margin-top:2%;
    width: 90%;
    height: 80%;
}
.blocktitleBottomContentUl{

    margin-left:5%;
    margin-top:2%;
    width: 90%;
    height: 80%;
}
.blocktitleBottom{
    
    position: relative;
    width: 25%;
    height: auto;
        object-fit: contain;
        box-sizing: border-box;
        position: relative;
        border:0.25px solid #000000cc;
}
.blocktitleBottomUl{
    
    position: relative;
    width: 25%;
    height: auto;
        object-fit: contain;
        box-sizing: border-box;
        position: relative;
        border:0.25px solid #000000cc;
}
.block{
    width: 25%;
    height: auto;
        object-fit: contain;
        box-sizing: border-box;
        position: relative;

}


.input{
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
    background: transparent;
 
}





.halfblockdiagBottom{

    justify-content: center;
    display: flex;
    align-items: center;
    object-fit: contain;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    position: relative;
    border:0.25px solid #000000cc;

}



.blocktitleBottomInput{
flex:1;
    position: relative;
    width: 25%;
        box-sizing: border-box;
        border:0.25px solid #000000cc;
}

.diagBottom{
    width: 100%;
    height: 100%;
    background:linear-gradient(to bottom right, transparent calc(50% - 1px), black calc(50% - 1px), black 50%, transparent 50%),
                linear-gradient(to bottom left, transparent calc(50% - 1px), black calc(50% - 1px), black 50%, transparent 50%);

}




.pagetitle{
   margin-left:0;

}
.amount{
    right: 0;
}
.pageslist{
padding-left: 13vw;
gap: 13vw;
display: flex;
list-style: none;
}



 @media (max-width:1100px){
    .blocktitleBottomUl{
right: 25%;

    }
  
   .halfblockdiagBottom{
    display: none;
   }
   .BottomHeader{
   }
   .blocktitleBottomInput{
    
    
    flex:1 ;
    right: 25%;

   }
   .BottomHeader{

   }
 }


 @media (min-width:1540px){
    .BottomUl{
        font-size: 1.6vw;
    }
    .blocktitleBottomContent{

    }
    
 }

 @media (max-width:800px){
    *{
        font-size: 2.1vw;
    }
    .liBottom{
        margin-top: 1.6vw;
    }
    

    .BottomHeader{
        height: 20vw;
    }
 }
 *{
    text-decoration: none;
    color: black;
 }
