* {
	margin: 0;
	padding: 0;
}

.image {
	width: 90%;
	height: 90%;
}

.Header {
	width: 100%;
	height: 5.5vw;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 0.5px solid black;
}

.container {
	height: 80%;
	width: 80%;
}
.Cart {
	position: static;
	font-size: 1vw;
	float: right;
}
.ul {
	list-style: none;
}

.blocktitle {
	width: 25%;
	height: 100%;
	object-fit: contain;
	box-sizing: border-box;
	position: relative;
	border: 0.25px solid #000000cc;
}
.block {
	width: 25%;
	height: auto;
	object-fit: contain;
	box-sizing: border-box;
	position: relative;
}
.block2 {
	width: 50%;
	height: 100%;
	object-fit: contain;
	box-sizing: border-box;
	position: relative;
}

.halfblockcontent,
.halfblockcontentBag,
.halfblockcontentTitleTag {
	align-items: center;
	display: flex;
	width: 80%;
	height: 80%;
	font-size: 1.7vw;
}
.halfblockcontentBag {
	height: 100%;
	font-size: 1.6vw;
	width: 80%;
}

.bag {
	width: 50%;
	text-align: left;
}
.amount {
	width: 50%;
	font-style: italic;
	text-align: right;
}

.amountTag {
	font-style: normal;
}

.halfblock1 {
	justify-content: center;
	display: flex;
	align-items: center;
	object-fit: contain;
	box-sizing: border-box;
	position: relative;
	justify-content: center;
	display: flex;
	height: 50%;
	object-fit: contain;
	box-sizing: border-box;
	position: relative;
	border: 0.25px solid #000000cc;
}
.halfblock2 {
	justify-content: center;
	display: flex;
	align-items: center;
	object-fit: contain;
	box-sizing: border-box;
	position: relative;
	justify-content: center;
	display: flex;
	height: 50%;
	object-fit: contain;

	position: relative;
	border-left: 0.25px solid #000000cc;
}

.halfblocklist {
	justify-content: center;
	display: flex;
	align-items: center;
	object-fit: contain;
	box-sizing: border-box;
	position: relative;
	justify-content: center;
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: contain;
	box-sizing: border-box;
	position: relative;
	border: 0.25px solid #000000cc;
}
.halfblockdiag {
	justify-content: center;
	display: flex;
	align-items: center;
	object-fit: contain;
	box-sizing: border-box;
	position: relative;
	justify-content: center;
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: contain;
	box-sizing: border-box;
	position: relative;
	border: 0.25px solid #000000cc;
}

.diag {
	width: 100%;
	height: 100%;
	background: linear-gradient(
			to bottom right,
			transparent calc(50% - 1px),
			black calc(50% - 1px),
			black 50%,
			transparent 50%
		),
		linear-gradient(to bottom left, transparent calc(50% - 1px), black calc(50% - 1px), black 50%, transparent 50%);
}

.title {
	width: 100%;
	height: 100%;
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2vw;
}

.pagetitle {
}
.amount {
	right: 0;
}
.pageslist,
.pageslist2 {
	padding-left: 13vw;
	gap: 13vw;
	display: flex;
	list-style: none;
}
.pageslist {
	padding-left: 10vw;
	gap: 10vw;
}

@media (max-width: 1200px) {
	.block {
		display: none;
	}

	.halfblockdiag {
		display: none;
	}
	.title {
		font-size: 2vw;
	}
	.pagetitle {
		font-size: 2.8vw;
	}
	.halfblocklist {
		width: 150%;
		border-right: 0;
	}
	.pageslist {
		padding-left: 50vw;
		gap: 10vw;
	}

	.halfblockcontent {
		color: grey;
		width: 95%;
	}

	.pageslist {
		padding-left: 10vw;
		gap: 10vw;
	}
	.Header {
		height: 8vw;
	}
	.pageslist {
		font-size: 2.5vw;
	}
	.halfblockcontentBag {
		font-size: 1.6vw;
	}
}

@media (min-width: 1540px) {
	.pageslist {
		padding-left: 6vw;
		gap: 6vw;
		font-size: 1vw;
	}
	.halfblockcontent {
		font-size: 1vw;
	}
	.halfblockcontentBag {
		font-size: 0.8vw;
	}
	.Header {
		height: 4vw;
	}
}
@media (max-width: 1540px) {
	.pageslist {
		font-size: 1.3vw;
	}

	.pageslist {
		padding-left: 6vw;
		gap: 6vw;
		font-size: 1.3vw;
	}
	.halfblockcontentBag {
		font-size: 1vw;
	}
	.halfblockcontent {
		font-size: 1.3vw;
	}
}

@media (max-width: 1200px) {
	.pageslist {
		padding-left: 8vw; // was 8
		gap: 8vw; // was 8
	}
	.Header {
		height: 10vw;
	}
	.pageslist {
		font-size: 3.5vw;
	}
	.halfblockcontentBag {
		font-size: 2.9vw;
	}
	.halfblockcontent {
		font-size: 3vw;
	}
}

@media (max-width: 450px) {
	.Header {
		height: 10vw;
	}
	.pageslist {
		padding-left: 7vw; // was 8
		gap: 7vw; // was 8
	}
}

* {
	text-decoration: none;
	color: black;
}

/* latin-ext */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */

* {
	font-family: 'Inter', sans-serif;
	color: black;
}

.pagetitle:hover {
	text-decoration: line-through;
}

.block:hover {
}

.halfblockcontentBag:hover {
	text-decoration: line-through;
}
